.warpper{
    width: 100%;
    height: 100vh;
    background-color: #0000006c;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    row-gap: 30px;
}

h3{
    font-size: 34px;
    line-height: .8;
    /* background: #6b6b6b; */
}
p{
    font-size: 20px;
}

.Mcard{
    width: 400px;
   padding: 30px;
    background: #ffffff;
    text-align: center;
    border-radius: 20px;
    position: relative;
    
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.Mcard::after , .Mcard::before{
    position: absolute;
    content: "";
    width: 410px;
    height: 410px;
    padding: 5px;
    background-image: conic-gradient(from var(--angle) ,  red , blue ,green ,yellow, skyblue,red  ) ;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%) ;
    border-radius: 20px;
    z-index: -1;
    animation: 3s spin linear infinite;
}
.Mcard::before{
    filter: blur(5px);
    opacity: .5;
}
@keyframes spin{
    from{
        --angle:0deg;
    }to{
        --angle:360deg;
    }
}

.carousel-box{
    width: 100%;
    max-width: 600px;
    /* height: 350px; */
    /* overflow: hidden; */
    
}
.carousel{
    background: #8888881d;
}
 .carousel-item{
    height: 100%;
    background: red;
 }
 .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
